.tab-main{
  border-radius: 10px;
}
.tab-header{
  background: transparent;
  color: black;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.tab-header span{
  font-size: 13px;
  font-weight: 500;
}

.tab-body{
  background: white;
 }
