<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " href="#" > <img src="https://i.ibb.co/MZ1gmWK/dfcc-logo.png" class="nav-logo" alt="img"></a>
    <div class="dropdown">
      <button class="btn dropdown-toggle icon-text module-list" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <mat-icon inline=true style="font-size: 20px" class="me-3 base-color">credit_card</mat-icon><span class="aligned-with-icon">Issuing</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li ><a class="dropdown-item icon-text base-hover-color" href="#"><mat-icon class="me-2 base-color">credit_card</mat-icon><span >ACQUIRING</span></a></li>
        <li ><a class="dropdown-item icon-text base-hover-color" href="#"><mat-icon class="me-2 base-color">credit_card</mat-icon><span >DFCC PAY</span></a></li>
        <li ><a class="dropdown-item icon-text base-hover-color" href="#"><mat-icon class="me-2 base-color">credit_card</mat-icon><span>REPORT</span></a></li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link icon-text" ><mat-icon inline=true class="material-symbols-outlined">home</mat-icon>&nbsp;<span>Home</span></a>
        <a class="nav-link icon-text" ><mat-icon inline=true >call</mat-icon>&nbsp;<span>Call Center</span></a>
        <a class="nav-link icon-text" ><mat-icon inline=true >logout</mat-icon>&nbsp;<span>Log Out</span></a>
        <a class="nav-link icon-text" ><mat-icon >notifications</mat-icon></a>
      </div>
    </div>
  </div>
</nav>
<div class="bread-crumb">
  <span class="ms-2">CMS Home</span>
</div>
